/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header{
    text-align: center;
    color: blueviolet;
    background-color: beige;
    font-style: italic;
}

.footer{
    text-align: center;
    color: blueviolet;
    background-color: beige;
    font-style: italic;
}

table {
    border: thin solid black;
    width: 100%;
}

td {
    border: thin solid black;
}

tr:nth-child(even) {
    background-color: lightgray;
    border: thin solid black;
}